[submodule "third_party/spdlog"]
	path = src/spdlog
	url = https://github.com/gabime/spdlog
[submodule "third_party/easyloggingpp"]
	path = third_party/easyloggingpp
	url = https://github.com/amrayn/easyloggingpp
