[submodule "third_party/spdlog"]
	path = src/spdlog
	url = https://github.com/gabime/spdlog
[submodule "third_party/k3log"]
	path = third_party/k3log
	url = https://github.com/StronglogicSolutions/k3log
